*.pyc
__pycache__/
*.ipynb_checkpoints
*.h5
*.pb
*.pbtxt
*.ckpt
saved_model/variables/
saved_model/*.pb
saved_model/*.pbtxt
*.log
*.idea/


.env
saved_model/__pycache__/

# .gitignore

# Notebook checkpoints
.ipynb_checkpoints/
notebooks/*
!notebooks/mood_music.ipynb



# Saved models / weights
saved_model/

*.pt
*.pth
*.pkl

# Virtual env
venv/
*.egg-info/
